NODE_ENV=development
PORT=3001
HOST=0.0.0.0
PGHOST=127.0.0.1
PGPORT=55432
PGUSER=clinirdv
PGPASSWORD=clinirdv
PGDATABASE=clinirdv
JWT_SECRET=change-me
ACCESS_TOKEN_TTL=900
REFRESH_TOKEN_TTL=28800
CLINIC_NAME=Clinique Saint-Michel
CLINIC_TZ=Europe/Paris
